/* navigation */
.btn-search {
	padding: 0px;
	border: 0px;
	float: right;
}

.translate p, .translate a {
	color: white;
	font-size: 16px;
	padding-top: 12px;
}

.translate p {
	padding-left: 76%;
}

.navbar-left {
	padding-left: 65%;
	padding-top: 3px;
}

.navbar {
	background-color: rgba(69,129,244,0.7);
}

.form-input {
	padding: 1px;
}

.nav-list {
	font-size: 20px;
	height: 30px;
	width: 90%;
	margin-left: 162px;
	padding-top: 30px;
}

.nav-list li {
	padding-left: 1%;
	font-weight: bold;
	padding-top: 15px;
	margin-left: 1%;
}

.nav-list ul {
	width: 120%;
	color: #FFFFFF;
	
}

.navbar-height {
	margin-left: 15%;
	margin-right: 15%;
	height: 70px;
	color: #fff;
}

.navbar-header {
	margin-right: 20px;
	padding-bottom: 50px;
}

.navbar-inverse {
	border: 0px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #DADEE0;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #DADEE0;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: #c0392b;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #fff;
}
 /* navigation */

.img_wrapper {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 28px;
}



/* footer */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
}

.foot {
	display: flex;
	align-items: flex-start;
}

.logo {
	width: 20%;
}

.logo img{
	width: 100%;
}

.separate {
	margin-left: 70px;
	width: 5%;
}

.contact {
	width: 40%;
}

.contact p {
	font-size: 22px;
	color: white;
}

.en {
	display: flex;
}

.en p {
	font-size: 16px;
}

.QR {
	float: left;
	width: 15%;
	padding-top: 10px;
}

.QR p{
	float: left;
}

#QR {
	width: 15%;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 40px;
}
/* footer */


/* details of news */
.news {
	background: url(../img/组1/backgound.png) repeat;
	padding-bottom: 100px;
}

.details a{
	color: #7D7D80;
	 font-size: 17px;
}

.details p{
	float: left;
	color: #7D7D80;
	 font-size: 17px;
}


#details {
	background: white;
	margin:0 20%;
	box-shadow: 3px 3px 3px #BCBCBC;
	padding-bottom: 80px;
}

/* #title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
} */


/* #text p {
	padding-bottom: 50px;
} */

.main_title {
	line-height: 2;
	border-right: 1px solid #ccc;
	padding: 0px 14%;
}

.main_title h2 {
	font-size: 28px;
	line-height: 30px;
	font-weight: normal;
}

.main_title h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
}

.main_title h6 {
	border-top: 1px dashed #ccc;
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	margin: 27px 0 48px;
}

.main_content {
	font-size: 18px;
	text-align: justify;
	margin-bottom: 10px;
	padding: 0px 5%;
}

.main_content p {
	text-align: justify;
	margin-bottom: 28px;
	text-indent: 2em;
}

.main_content li{
	float: left;
	list-style: none;
}

ul, li{
	list-style: none;
    margin: 0;
    padding: 0;
}

.main_content .image-text{
	width: 100%;
    height: auto;
    overflow: hidden;
}

.main_content .scientific-research{
	padding: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.main_content .scientific-research p{
	text-indent: 0em;
	margin-top: 16px;
	margin-bottom: 0;
}

.main_content .scientific-research .left{
	float: left;
    width: 600px;
}

.main_content .scientific-research .right{
	float: right;
    width: 260px;
}


.fontBig .main_content {
	font-size: 22px;
}

.font02 .main_content {
	font-size: 18px;
}

.fontSma .main_content {
	font-size: 14px;
}

#fontSizeB {
	font-size: 20px;
}

#fontSize2 {
	font-size: 18px;
}

.red {
	color: #d88342;
}

/* 分页 */
#page {
    margin: 20px auto;
    color: #666;
    display: block;
    text-align: center;
}

#page li {
    display: inline-block;
    min-width: 30px;
    height: 28px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
    line-height: 28px;
    background-color: #f9f9f9;
    border: 1px solid #dce0e0;
    text-align: center;
    margin: 0 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.xl-nextPage,
.xl-prevPage {
    width: 60px;
    color: #0073A9;
    height: 28px;
}

#page li.xl-disabled {
    opacity: .5;
    cursor: no-drop;
}

#page li.xl-active {
    background-color: #0073A9;
    border-color: #0073A9;
    color: #FFF
}

li.xl-disabled a{
    opacity: .5;
    cursor: no-drop;
}

li.xl-active a {
	color: #FFF;
}