.nav{
    height: 40px;
    width: 100%;
}
.banner{
    height: 40px;
    margin: 0 auto;
    width: 1100px;
    background-color: pink;
}
ul{
    
    color: antiquewhite;
    list-style-type: none;
}

a{
    text-decoration: none;
}
li{
    line-height: 40px;
    color: antiquewhite;
    margin: 0 auto;
    float: left;
    text-align: center;
    width: 140px;
}