<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for迭代样式</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
    <div id="app">
        <p v-for="item in list">{{ item }}</p>       
        <!-- item in list表示循环的每一项都在list这个数组中 -->

        <p v-for=""></p>
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                list:[1,2,3,4,5,6]
            },
            methods:{}
        })
    </script>
</body>
</html>