.Yangzhi{
    color:#063c47;
    background-image: url(../images/养殖业.png);
    background-repeat:no-repeat;
    width: 100%;
    background-position:80% 90% ;
}
.Yangzhi .img_1{
    width:100%;
    padding: 0 auto;
}
.hymu2{
  padding-top:50px;
}
.Yangzhi .haiyangmuchang{
    margin-top:100px;
}
.Yangzhi .haiyangmuchang .haiy{
    margin-left: 300px;
}
.img_2{
    width: 90%;
    padding-top:70px;
}
.haiyangmuchang2{
    margin-top: 120px;
}
.hymcjs{
    margin-top:50px;
}
.img_3{
    width: 100%;
}
.img_4{
    margin-top:15px;
    width: 100%;
}
.img_5{
    width: 80%;
    margin-top:-50px;
}
.img__6{
    margin-top: 15px;
}
.img_6{
    width: 80%;
}
.img__7{
    margin-top: 50px;
}
.img_7{
    margin-top: -20px;
    width: 80%;
    margin-bottom: 150px;
}
/* button 3*/
.set_9_btn3-corner {
    padding: 0px 25px;
    border: none;
    background: transparent;
    color: #333;
    width:auto;
    float:left;
    position:relative;
    line-height:45px;
    cursor:pointer;
    margin-right: 2em;
    margin-left: 340px;
  }
  .set_9_btn3-corner span {
    position: absolute;
    background-color: #32b16c;
    display: block;
    transition: all 200ms;
  }
  .set_9_btn3-corner .line1,
  .set_9_btn3-corner .line3 {
    height: 2px;
    width: 20px;
  }
  .set_9_btn3-corner .line2,
  .set_9_btn3-corner .line4 {
    height: 20px;
    width: 2px;
  }
  .set_9_btn3-corner .line1,
  .set_9_btn3-corner .line2 {
    top: 0;
    right: 0;
  }
  .set_9_btn3-corner .line3,
  .set_9_btn3-corner .line4 {
    bottom: 0;
    left: 0;
  }
  .set_9_btn3-corner.reverse .line1,
  .set_9_btn3-corner.reverse .line3 {
    width: 100%;
  }
  .set_9_btn3-corner.reverse .line2,
  .set_9_btn3-corner.reverse .line4 {
    height: 100%;
  }
  .set_9_btn3-corner:hover,
  .set_9_btn3-corner:active {
    background-color: transparent;
    color: #333;
  }
  .set_9_btn3-corner:hover .line1,
  .set_9_btn3-corner:active .line1,
  .set_9_btn3-corner:hover .line3,
  .set_9_btn3-corner:active .line3 {
    width: 100%;
  }
  .set_9_btn3-corner:hover .line2,
  .set_9_btn3-corner:active .line2,
  .set_9_btn3-corner:hover .line4,
  .set_9_btn3-corner:active .line4 {
    height: 100%;
  }
  .set_9_btn3-corner:hover.reverse .line1,
  .set_9_btn3-corner:active.reverse .line1,
  .set_9_btn3-corner:hover.reverse .line3,
  .set_9_btn3-corner:active.reverse .line3 {
    width: 20px;
  }
  .set_9_btn3-corner:hover.reverse .line2,
  .set_9_btn3-corner:active.reverse .line2,
  .set_9_btn3-corner:hover.reverse .line4,
  .set_9_btn3-corner:active.reverse .line4 {
    height: 20px;
  }
  
.set_9_btn4-corner {
    padding: 0px 25px;
    border: none;
    background: transparent;
    color: #333;
    width:auto;
    float:left;
    position:relative;
    line-height:45px;
    cursor:pointer;
    margin-right: 2em;
    margin-left: 380px;
  }
  .set_9_btn4-corner span {
    position: absolute;
    background-color: #56c5ff;
    display: block;
    transition: all 200ms;
  }
  .set_9_btn4-corner .line1,
  .set_9_btn4-corner .line3 {
    height: 2px;
    width: 20px;
  }
  .set_9_btn4-corner .line2,
  .set_9_btn4-corner .line4 {
    height: 20px;
    width: 2px;
  }
  .set_9_btn4-corner .line1,
  .set_9_btn4-corner .line2 {
    top: 0;
    right: 0;
  }
  .set_9_btn4-corner .line3,
  .set_9_btn4-corner .line4 {
    bottom: 0;
    left: 0;
  }
  .set_9_btn4-corner.reverse .line1,
  .set_9_btn4-corner.reverse .line3 {
    width: 100%;
  }
  .set_9_btn4-corner.reverse .line2,
  .set_9_btn4-corner.reverse .line4 {
    height: 100%;
  }
  .set_9_btn4-corner:hover,
  .set_9_btn4-corner:active {
    background-color: transparent;
    color: #333;
  }
  .set_9_btn4-corner:hover .line1,
  .set_9_btn4-corner:active .line1,
  .set_9_btn4-corner:hover .line3,
  .set_9_btn4-corner:active .line3 {
    width: 100%;
  }
  .set_9_btn4-corner:hover .line2,
  .set_9_btn4-corner:active .line2,
  .set_9_btn4-corner:hover .line4,
  .set_9_btn4-corner:active .line4 {
    height: 100%;
  }
  .set_9_btn4-corner:hover.reverse .line1,
  .set_9_btn4-corner:active.reverse .line1,
  .set_9_btn4-corner:hover.reverse .line3,
  .set_9_btn4-corner:active.reverse .line3 {
    width: 20px;
  }
  .set_9_btn4-corner:hover.reverse .line2,
  .set_9_btn4-corner:active.reverse .line2,
  .set_9_btn4-corner:hover.reverse .line4,
  .set_9_btn4-corner:active.reverse .line4 {
    height: 20px;
  }

  .wrap { margin: 0 auto; width: 1000px; max-width: 1000px; }
.tile { width: 400px; height: 300px; margin: 20px; ; display: inline-block; background-size: cover; position: relative; cursor: pointer; transition: all 0.4s ease-out; overflow: hidden; color: black; }
.tile img { height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 0; transition: all 0.4s ease-out; }
.tile .text { z-index: 99; position: absolute; padding: 30px; height: calc(100% - 60px); }
.tile h1 { font-weight: 300; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); text-align: center;letter-spacing: 20px;background: url(../images/yangzhi/bj4.jpg);line-height: 200%;color: white}
.tile h2 { font-weight: 100; margin-top: 20px; font-style: italic; transform: translateX(200px); font-size: 10px; letter-spacing: 5px;line-height: 200%;}
.tile p { font-weight: 300; margin-top: 20px; line-height: 25px; transform: translateX(-200px); transition-delay: 0.2s; letter-spacing: 8px;line-height: 200%;}
.animate-text { opacity: 0; transition: all 0.6s ease-in-out; }
.tile:hover { box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64); transform: scale(1.05); }
.tile:hover img { opacity: 0.2; }
.tile:hover .animate-text { transform: translateX(0); opacity: 1; }
.dots { position: absolute; bottom: 20px; right: 30px; margin: 0 auto; width: 30px; height: 30px; color: currentColor; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
.dots span { width: 5px; height: 5px; background-color: currentColor; border-radius: 50%; display: block; opacity: 0; transition: transform 0.4s ease-out, opacity 0.5s ease; transform: translateY(30px); }
.tile:hover span { opacity: 1; transform: translateY(0px); }
.dots span:nth-child(1) { transition-delay: 0.05s; }
.dots span:nth-child(2) { transition-delay: 0.1s; }
.dots span:nth-child(3) { transition-delay: 0.15s; }

.tile1 { width: 400px; height: 300px; margin: 20px; ; display: inline-block; background-size: cover; position: relative; cursor: pointer; transition: all 0.4s ease-out; overflow: hidden; color: black; }
.tile1 img { height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 0; transition: all 0.4s ease-out; }
.tile1 .text { z-index: 99; position: absolute; padding: 30px; height: calc(100% - 60px); }
.tile1 h1 { font-weight: 300; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); text-align: center;letter-spacing: 20px;background: url(../images/yangzhi/bg1.jpg);line-height: 200%;color: white}
.tile1 h2 { font-weight: 100; margin-top: 20px; font-style: italic; transform: translateX(200px); font-size: 10px; letter-spacing: 5px;line-height: 200%;}
.tile1 p { font-weight: 300; margin-top: 20px; line-height: 25px; transform: translateX(-200px); transition-delay: 0.2s; letter-spacing: 8px;line-height: 200%;}
.animate-text { opacity: 0; transition: all 0.6s ease-in-out; }
.tile1:hover { box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64); transform: scale(1.05); }
.tile1:hover img { opacity: 0.2; }
.tile1:hover .animate-text { transform: translateX(0); opacity: 1; }
.dots { position: absolute; bottom: 20px; right: 30px; margin: 0 auto; width: 30px; height: 30px; color: currentColor; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
.dots span { width: 5px; height: 5px; background-color: currentColor; border-radius: 50%; display: block; opacity: 0; transition: transform 0.4s ease-out, opacity 0.5s ease; transform: translateY(30px); }
.tile1:hover span { opacity: 1; transform: translateY(0px); }
.dots span:nth-child(1) { transition-delay: 0.05s; }
.dots span:nth-child(2) { transition-delay: 0.1s; }
.dots span:nth-child(3) { transition-delay: 0.15s; }


.tile2 { width: 400px; height: 300px; margin: 20px; ; display: inline-block; background-size: cover; position: relative; cursor: pointer; transition: all 0.4s ease-out; overflow: hidden; color: black; }
.tile2 img { height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 0; transition: all 0.4s ease-out; }
.tile2 .text { z-index: 99; position: absolute; padding: 30px; height: calc(100% - 60px); }
.tile2 h1 { font-weight: 300; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); letter-spacing: 20px;line-height: 150%;color: black;font-size: 15px;}
.tile2 h2 { font-weight: 100; margin-top: 20px; font-style: italic; transform: translateX(200px); font-size: 10px; letter-spacing: 5px;line-height: 200%;}
.tile2 p { font-weight: 300; margin-top: 20px; line-height: 25px; transform: translateX(-200px); transition-delay: 0.2s; letter-spacing: 8px;line-height: 200%;}
.animate-text { opacity: 0; transition: all 0.6s ease-in-out; }
.tile2:hover { box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64); transform: scale(1.05); }
.tile2:hover img { opacity: 0.2; }
.tile2:hover .animate-text { transform: translateX(0); opacity: 1; }
.dots { position: absolute; bottom: 20px; right: 30px; margin: 0 auto; width: 30px; height: 30px; color: currentColor; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
.dots span { width: 5px; height: 5px; background-color: currentColor; border-radius: 50%; display: block; opacity: 0; transition: transform 0.4s ease-out, opacity 0.5s ease; transform: translateY(30px); }
.tile1:hover span { opacity: 1; transform: translateY(0px); }
.dots span:nth-child(1) { transition-delay: 0.05s; }
.dots span:nth-child(2) { transition-delay: 0.1s; }
.dots span:nth-child(3) { transition-delay: 0.15s; }


.tile3 { width: 400px; height: 300px; margin: 20px; ; display: inline-block; background-size: cover; position: relative; cursor: pointer; transition: all 0.4s ease-out; overflow: hidden; color: black; }
/* .tile3 img { height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 0; transition: all 0.4s ease-out; } */
.tile3 .text { z-index: 99; position: absolute; padding: 30px; height: calc(100% - 60px); }
.tile3 img { font-weight: 300;  letter-spacing: 20px;line-height: 150%;color: black;font-size: 15px;}
.tile3 h2 { font-weight: 100; margin-top: 20px; font-style: italic; transform: translateX(200px); font-size: 10px; letter-spacing: 5px;line-height: 200%;}
.tile3 p { font-weight: 300; margin-top: 20px; line-height: 25px; transform: translateX(-200px); transition-delay: 0.2s; letter-spacing: 8px;line-height: 200%;}
.animate-text { opacity: 0; transition: all 0.6s ease-in-out; }
.tile3:hover { box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64); transform: scale(1.05); }
.tile3:hover img { opacity: 0.2; }
.tile3:hover .animate-text { transform: translateX(0); opacity: 1; }
.dots { position: absolute; bottom: 20px; right: 30px; margin: 0 auto; width: 30px; height: 30px; color: currentColor; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
.dots span { width: 5px; height: 5px; background-color: currentColor; border-radius: 50%; display: block; opacity: 0; transition: transform 0.4s ease-out, opacity 0.5s ease; transform: translateY(30px); }
.tile1:hover span { opacity: 1; transform: translateY(0px); }
.dots span:nth-child(1) { transition-delay: 0.05s; }
.dots span:nth-child(2) { transition-delay: 0.1s; }
.dots span:nth-child(3) { transition-delay: 0.15s; }
/* General link styles */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
  font-size: 1.5em;
  letter-spacing: 5px;
  line-height: 120%;
  color: #32b16c;
  width: 80%;
	display: inline-block;
}

/* Kukuri */
.link--kukuri {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #c5c2b8;
}

.link--kukuri:hover {
	color: #c5c2b8;
}

.link--kukuri::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}

/* Takiri */
.link--takiri {
	font-style: italic;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 7em;
	padding: 0 10px 20px;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--takiri:hover {
	color: #1e1a1b;
}

.link--takiri::before {
	content: '';
	position: absolute;
	height: 36px;
	width: 120%;
	top: 50%;
	margin-top: -18px;
	left: -10%;
	z-index: -1;
	background: #F9F9F9;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--takiri:hover::before {
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.link--takiri span {
	font-size: 20%;
	font-weight: 400;
	position: absolute;
	right: 15px;
	color: #e53369;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translate3d(-10px,-10px,0);
	transform: translate3d(-10px,-10px,0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--takiri:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Surinami */
.link--surinami {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 9em;
	color: #3A4945;
	padding: 0 0 0.125em;
}

.link--surinami::before,
.link--surinami::after {
	content: '';
	width: 100%;
	height: 3px;
	z-index: -1;
	background: #3A4945;
	position: absolute;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--surinami::before {
	right: 0;
	top: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.link--surinami::after {
	left: 0;
	bottom: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.link--surinami:hover::before,
.link--surinami:hover::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.link--surinami span {
	position: relative;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--surinami:hover span {
	color: transparent;
}

.link--surinami span::before,
.link--surinami span::after {
	position: absolute;
	color: black;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--surinami span::before {
	content: attr(data-letters-l);
	left: 0;
	-webkit-transform: translate3d(-5px,0,0);
	transform: translate3d(-5px,0,0);
}

.link--surinami span::after {
	content: attr(data-letters-r);
	right: 0;
	-webkit-transform: translate3d(5px,0,0);
	transform: translate3d(5px,0,0);
}

.link--surinami:hover span::before,
.link--surinami:hover span::after {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Nukun */
.link--nukun {
	color: #E3E8DC;
	font-weight: 900;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 0;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.link--nukun:hover {
	color: #1e1a1b;
}

.link--nukun::before,
.link--nukun::after {
	content: '';
	position: absolute;
	width: 30%;
	height: 5px;
	background: #E3E8DC;
	bottom: 0;
	left: 35%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--nukun::after {
	background: #ACD07A;
	-webkit-transform: translate3d(-300%,0,0) scale3d(0,1,1);
	transform: translate3d(-300%,0,0) scale3d(0,1,1);
}

.link--nukun:hover::before {
	-webkit-transform: translate3d(300%,0,0) scale3d(0,1,1);
	transform: translate3d(300%,0,0) scale3d(0,1,1);
}

.link--nukun:hover::after {
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	transform: translate3d(0,0,0) scale3d(1,1,1);
}

.link--nukun span {
	color: #E3E8DC;
	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--nukun:hover span {
	color: #fff;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

/* Kumya */
.link--kumya {
	font-family: 'Syncopate', sans-serif;
	font-size: 6.5em;
	overflow: hidden;
	padding: 10px 10px 0;
	line-height: 1;
	color: #242424;
}

.link--kumya:hover {
	color: #242424;
}

.link--kumya::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #242424;
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--kumya span {
	display: block;
	position: relative;
}

.link--kumya span::before {
	content: attr(data-letters);
	position: absolute;
	color: #fff;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before {
	width: 100%;
}

/* Urpi */
.link--urpi {
	font-family: 'Oswald', sans-serif;
	font-size: 10em;
	font-weight: 700;
	text-transform: uppercase;
	color: #e78383;
	-webkit-transition: color 0s 0.5s;
	transition: color 0s 0.5s;
}

.link--urpi:hover {
	color: transparent;
	-webkit-transition: none;
	transition: none;
}

.link--urpi::before,
.link--urpi::after {
	content: attr(data-letters);
	position: absolute;
	top: 0;
	left: 0;
	color: #e78383;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;
	transition: color 0.5s, transform 0.5s;
}

.link--urpi::before {
	-webkit-clip-path: url(#cp_up); 
	clip-path: url(../index.html#cp_up);
}

.link--urpi::after {
	-webkit-clip-path: url(#cp_down); 
	clip-path: url(../index.html#cp_down);
}

.link--urpi:hover::before,
.link--urpi:hover::after {
	color: #fff;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;
	transition: color 0.5s, transform 0.5s;
}

.link--urpi:hover::before {
	-webkit-transform: translate3d(4px,1px,0);
	transform: translate3d(4px,1px,0);
}

.link--urpi:hover::after {
	-webkit-transform: translate3d(-4px,-1px,0);
	transform: translate3d(-4px,-1px,0);
}

/* Mallki */
.link--mallki {
	font-weight: 800;
	color: #81a689;
	font-family: 'Dosis', sans-serif;
	-webkit-transition: color 0.5s 0.25s;
	transition: color 0.5s 0.25s;
	overflow: hidden;
}

.link--mallki:hover {
	-webkit-transition: none;
	transition: none;
	color: transparent;
}

.link--mallki::before {
	content: '';
	width: 100%;
	height: 6px;
	margin: -3px 0 0 0;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--mallki:hover::before {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--mallki span {
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

.link--mallki span::before {
	content: attr(data-letters);
	color: red;
	position: absolute;
	left: 0;
	width: 100%;
	color: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--mallki span:nth-child(2) {
	top: 50%;
}

.link--mallki span:first-child::before {
	top: 0;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.link--mallki span:nth-child(2)::before {
	bottom: 0;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.link--mallki:hover span::before {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

/* Manko */
.link--manko {
  color: #32b16c;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
	padding: 0.65em 0 0.8em;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--manko:hover {
	color: #063c47;
}

.link--manko::before,
.link--manko::after {
	content: '';
	position: absolute;
	border-width: 4px 0;
	border-style: solid;
	border-color: #fff;
	pointer-events: none;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--manko::before {
	width: 50%;
	left: 25%;
	height: 80%;
	top: 10%;
}

.link--manko::after {
	width: 30%;
	left: 35%;
	height: 100%;
	top: 0;
}
/* 
.link--manko:hover::before,
.link--manko:hover::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.link--manko span {
	color: #60AB64;
	font-weight: 400;
	position: absolute;
	font-size: 0.2em;
	left: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.link--manko span:first-of-type {
	bottom: 100%;
	margin-bottom: 15px;
	-webkit-transform: scale3d(0.8,0.8,1) translate3d(0,10px,0);
	transform: scale3d(0.8,0.8,1) translate3d(0,10px,0);
}

.link--manko span:last-of-type {
	top: 100%;
	margin-top: 10px;
	-webkit-transform: scale3d(0.8,0.8,1) translate3d(0,-10px,0);
	transform: scale3d(0.8,0.8,1) translate3d(0,-10px,0);
}

.link--manko:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--manko:hover span:first-of-type {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.link--manko:hover span:last-of-type {
	-webkit-transition-delay: 0.20s;
	transition-delay: 0.20s;
} */

/* Ilin */
.link--ilin {
	font-weight: 900;
	text-transform: uppercase;
	line-height: 0.8;
	overflow: hidden;
	color: #adaa88;
}

.link--ilin span {	
	position: relative;
	display: inline-block;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--ilin:hover span:first-of-type {
	color: #fff;
}

.link--ilin:hover span:last-of-type {
	color: #1e1a1b;
}

.link--ilin span::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	line-height: 0.8;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--ilin span:last-of-type::before {
	background: #1e1a1b;
}

.link--ilin:hover span:last-of-type::before,
.link--ilin span:first-of-type::before {
	-webkit-transform: translate3d(0,-150%,0);
	transform: translate3d(0,-150%,0);
}

.link--ilin:hover span:first-of-type::before,
.link--ilin span:last-of-type::before {
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,150%,0);
}

/* Asiri */
.link--asiri {
	position: relative;
	width: 400px;
	height: 200px;
}

.link--asiri .text-fill {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.link--asiri canvas {
	width: 100%;
	height: 100%;
}

.link--asiri .svg-inverted-mask {
	position: absolute;
	width: 400px;
	height: 200px;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 0 2px #222; /* FF rendering issue */
}

.link--asiri .shape--fill {
	fill: #222;
}

.link--asiri .text--transparent {
	fill: #95D384;
	-webkit-transition: fill 0.2s;
	transition: fill 0.2s;
}

.link--asiri:hover .text--transparent {
	fill: transparent;
}

.svg--asiri .mask__shape {
	fill: white;
}

.text--asiri {
	font-size: 150px;
	text-transform: uppercase;
	font-weight: 900;
	stroke: #fff;
	stroke-width: 1.5;
}

/* Yaku */
.link--yaku {
	color: #D3D3D3;
	font-family: 'Playfair Display';
	font-weight: 400;
	text-transform: uppercase;
	font-size: 10em;
	overflow: hidden;
	padding: 0 0 10px;
}

.link--yaku::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-width: 2px 0;
	border-color: #282828;
	border-style: solid;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--yaku:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--yaku span {
	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
}

.link--yaku:hover span {
	color: #1e1a1b;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.link--yaku span:nth-child(4),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.link--yaku span:nth-child(3),
.link--yaku:hover span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.link--yaku span:nth-child(2),
.link--yaku:hover span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.link--yaku span:first-child,
.link--yaku:hover span:nth-child(4) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

/* Media Queries */
@media screen and (max-width: 50em) {
	.link--surinami { font-size: 3em; }
}

@media screen and (max-width: 42em) {
	.link--takiri { font-size: 3.5em; }
	.link--kukuri { font-size: 3.5em; }
	.link--nukun { font-size: 3.5em; }
	.link--kumya { font-size: 3em; }
	.link--manko { font-size: 3.5em; }
	.link--urpi { font-size: 5em; }
	.link--mallki { font-size: 3.5em; }
	.link--ilin { font-size: 5em; }
	.link--asiri { -webkit-transform: scale3d(0.65,0.65,1); transform: scale3d(0.65,0.65,1); }
	.link--yaku { font-size: 4em; }
}

.portfolio-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  }
  
  .portfolio-grid li {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
  width:212px;
  }
  
  .portfolio-grid li > a,
  .portfolio-grid li > a img {
  width: 100%;
  border: none;
  outline: none;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  }
  
  .portfolio-grid li > a img:hover {
  border-radius: 50%;
  z-index: 9999;
  }
  
.portfolio-grid {
  list-style: none;
  padding: 0;
  margin-top: -50px;
  text-align: center;
  width: 100%;
  }
  
  .portfolio-grid li {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
  width:212px;
  }
  
  .portfolio-grid li > a,
  .portfolio-grid li > a img {
  margin-left: -55px;
  width: 140%;
  border: none;
  outline: none;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  }
  
  .portfolio-grid li > a img:hover {
  border-radius: 50%;
  z-index: 9999;
  }
  
  
  /******************************************
  Animate.CSS By Dan Eden
  ******************************************/
  
  .animated{-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;}
  @-webkit-keyframes flipInX {
  0% {
  -webkit-transform: perspective(400px) rotateX(90deg);
  opacity: 0;
  }
  
  40% {
  -webkit-transform: perspective(400px) rotateX(-10deg);
  }
  
  70% {
  -webkit-transform: perspective(400px) rotateX(10deg);
  }
  
  100% {
  -webkit-transform: perspective(400px) rotateX(0deg);
  opacity: 1;
  }
  }
  @-moz-keyframes flipInX {
  0% {
  -moz-transform: perspective(400px) rotateX(90deg);
  opacity: 0;
  }
  
  40% {
  -moz-transform: perspective(400px) rotateX(-10deg);
  }
  
  70% {
  -moz-transform: perspective(400px) rotateX(10deg);
  }
  
  100% {
  -moz-transform: perspective(400px) rotateX(0deg);
  opacity: 1;
  }
  }
  @-o-keyframes flipInX {
  0% {
  -o-transform: perspective(400px) rotateX(90deg);
  opacity: 0;
  }
  
  40% {
  -o-transform: perspective(400px) rotateX(-10deg);
  }
  
  70% {
  -o-transform: perspective(400px) rotateX(10deg);
  }
  
  100% {
  -o-transform: perspective(400px) rotateX(0deg);
  opacity: 1;
  }
  }
  @keyframes flipInX {
  0% {
  transform: perspective(400px) rotateX(90deg);
  opacity: 0;
  }
  
  40% {
  transform: perspective(400px) rotateX(-10deg);
  }
  
  70% {
  transform: perspective(400px) rotateX(10deg);
  }
  
  100% {
  transform: perspective(400px) rotateX(0deg);
  opacity: 1;
  }
  }
  
  .flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
  }	
  .img3{
    margin-top:-20px;
  }
  .style1 ul li{float:left;margin:0 6px;position:relative;list-style:none}
.style1 ul li{ -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
/* .style1 ul li img{width: 170px;height: 120px;border-radius: 2px;} */
.style1 ul li span{background:rgba(0, 0, 0, 0.5);color:#fff;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;line-height: 23px;position:absolute;bottom: 3px;width: 170px;left:0;font-size:12px;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s;}
.style1 ul li:hover {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.style1 ul li:hover span{ opacity:0}