
.row{
    width: 100%;
    height: 2350px;
    padding-left: 20%;
    padding-right: 20%;
}
/*沿路建设 12-99*/
.build{
    position: relative;
    height: 700px;
    width: 100%;
    margin-bottom: 150px;
    display: flex;
}

.build_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.build_left_title{
    width: 100%;
    height: 20%;
    color: #5166d3;
}
.build_left_title h2{
    font-size: 17px;
    font-weight: 400;
}
.build_left_title h1{
    font-size: 46px;
    font-weight: 800;
}
/*左盒子*/
.left_box{
    width: 100%;
    height: 35%;
    display: flex;
}
.left_box_item{
    width: 50%;
    height: 100%;
    transition: all 0.1s;
    background: #f3f8fa;
    text-align:center;
}
.left_box_item:hover{
    width: 50%;
    height: 100%;
    text-align:center;
    background: #e8f1f5;    
	 transition: all 0.3s;
    transform: scale(1.15);
}
.left_box_item h1{
    color: #5166d3;
    font-size: 46px;
    font-weight: 800;
    padding-top: 5%;
    padding-bottom: 5%;
}
.left_box_item p{
    color: #6a6868;
    font-size: 18px;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
}
/*左图片*/
.build_left_img{
    width: 100%;
    height: 45%;
	transition: all 0.1s; 
}
.build_left_img:hover{
    width: 100%;
    height: 45%;
    transform: scale(1.15);
	transition: all 0.3s; 
}

.build_right{
    width: 50%;
    height: 100%;
}
/*右盒子*/
.right_box{
    width: 100%;
    height: 35%;
    display: flex;
}
.right_box_item{
    width: 45%;
    height: 100%;
    background: #6275d7;
    text-align:center;
    color: #d0cccc;
	transition: all 0.1s;  
}
.right_box_item:hover{
    width: 45%;
    height: 100%;
    text-align:center;
    color: #d0cccc;
    background: #5166d3;
    transform: scale(1.15);
	transition: all 0.3s; 
}
.right_box_item h1{
    font-size: 46px;
    font-weight: 800;
    padding-top: 5%;
    padding-bottom: 5%;
}
.right_box_item p{
    font-size: 18px;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
}
/*右图片*/
.build_right_img{
    width: 100%;
    height: 65%;
	transition:all 0.1s;  
}
.build_right_img:hover{
    width: 100%;
    height: 65%;
    transform: scale(1.1);
	transition: all 0.3s; 
}

/*国际救援*/
.assistance{
    height: 750px;
    width: 100%;
    margin-bottom: 10px;
}
.assistance_title{
    width: 100%;
    height: 200px;
    padding-left: 42%;
    color: #5166d3;
}
.assistance_title h2{
    font-size: 17px;
    font-weight: 400;
}
.assistance_title h1{
    font-size: 46px;
    font-weight: 800;
}

.assistance_box{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow:hidden;
}
.assistance_box_item{
	position: relative;
    height: 100%;
    width: 24%;
}
.assistance_box_item img{
    z-index: 0;
}
.assistance_box_item h1{
    font-size: 30px;
    font-weight: 800;
}
.assistance_box_item-bottom{
    position: absolute;
    height: 19%;
    width: 100%;
    bottom: 0em;

    z-index: 1;
    background: rgba(81,102,211);
    color: white;
    text-align: center;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.assistance_box_item-bottom-h1{
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
}
.assistance_box_item-bottom img{
	position: absolute;
	transform: scale(0,0);
	/* text-align: center; */
	height: 13%;
	width: auto;
	margin-top:30%;
	margin-left:-10%;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.6s;
}
.assistance_box_item-bottom p{
	margin-top:23px;
	margin-left: 10%;
	margin-right: 10%;
}
.assistance_box_item:hover .assistance_box_item-bottom{
	height: 100%;
    background: rgba(0,0,0,0.7);
}
.assistance_box_item:hover .assistance_box_item-bottom-h1{
	margin-top:55%;
}
.assistance_box_item:hover img{
	transform: scale(1,1);
} 

/*电力互通*/

.interwording{
    height: 750px;
    width: 100%;
}

.interwording_box{
    height: 330px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.interwording_box_item1{
    position: relative;
    height: 100%;
    width: 30%;
	background-color: #FFFFFF;
    background-repeat:no-repeat;
    background-size:100% 100%;
	
	-moz-box-shadow:0px 2px 7px #333333; 
	-webkit-box-shadow:0px 2px 7px #333333; 
	box-shadow:0px 2px 7px #333333;
	
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease;

}
.interwording_box_item1:hover{
	background-color: #5166d3;
    color: white;
}

.interwording_box img{
    position: absolute;
    top:30px;
    height: 25%;
    width: auto;
    margin-left: 38%
}

.interwording_box h4{
    padding-top: 120px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.interwording_box p{
    padding-left: 10%;
    padding-right: 10%;
}

