* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row::after, .row::before { /*清除浮动对其他元素的影响*/
  content: ""; /*空字符串*/
  clear: both; /*清除所有*/
  display: table;
}
.col {float: left} /*靠左浮动*/

.l1 {width: 8.33%} /*宽度*/
.l2 {width: 16.66%}
.l3 {width: 25%}
.l4 {width: 33.33%}
.l5 {width: 41.66%}
.l6 {width: 50%}
.l7 {width: 58.33%}
.l8 {width: 66.66%}
.l9 {width: 75%}
.l10 {width: 83.33%}
.l11 {width: 91.66%}
.l12 {width: 100%}

@media only screen and (max-width: 600px) { /*屏幕尺寸小于600像素的时候应用的规则*/
  .s1 {width: 8.33%}
  .s2 {width: 16.66%}
  .s3 {width: 25%}
  .s4 {width: 33.33%}
  .s5 {width: 41.66%}
  .s6 {width: 50%}
  .s7 {width: 58.33%}
  .s8 {width: 66.66%}
  .s9 {width: 75%}
  .s10 {width: 83.33%}
  .s11 {width: 91.66%}
  .s12 {width: 100%}
}
@media only screen and (min-width: 601px) and (max-width: 768px){ /*屏幕尺寸大于601像素，小于768像素应用的规则*/
  .m1 {width: 8.33%}
  .m2 {width: 16.66%}
  .m3 {width: 25%}
  .m4 {width: 33.33%}
  .m5 {width: 41.66%}
  .m6 {width: 50%}
  .m7 {width: 58.33%}
  .m8 {width: 66.66%}
  .m9 {width: 75%}
  .m10 {width: 83.33%}
  .m11 {width: 91.66%}
  .m12 {width: 100%}
}

/* 灰色背景 */
.bj {
  background-color: #f4f4f4;
}

.bj-zhong {
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  width: 1000px;
  margin: 10px auto;
  padding: 20px;
}

.title {
  text-align: center;
}

.one {
  padding: 15px 200px;
}

.two {
  padding: 15px 35px; /*内部填充*/
  color: #333;
}

.two p {
  font-size: 15px; /*字体大小*/
  letter-spacing: 1px; /*字间距*/
  line-height: 1.8;/*设置每行的行间距*/
  text-indent: 32px; /*开头缩进32个像素*/
  margin: 10px auto;
}

.two h3 {
  margin: 20px auto;
}

.two h2 {
  margin: 30px auto;
}
