* {
    box-sizing: border-box;
}
 
/* body 样式 */
body {
	padding:2px 2px;
    font-family: Arial;
    margin: 0;
	overflow-y:scroll;
	overflow-x:hidden;
}
.fontdefault {
	font-size:14px;
	font:"Microsoft YaHei UI";
	line-height:24px;
	}

a{text-decoration:none;
color:#5166d3;}
 
/* 标题 */
.header {
	position:absolute; 
	left:0px;
	right:0px;
	top:0;
	height:379px;
    padding: 230px;
    text-align: center;
    background: url(pic/banner/banner_0005s_0018_banner.png);
    color: blue;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	z-index:-1;
}
 
/* 标题字体加大 */
.header h1 {
    font-size: 40px;
	color:white;
}
/*搜索框*/
.search {
	padding:10px 40px;
	height:30px;
	z-index:10;	
} 
.search:b{
	height:26px;
	width:37px;
	
	}
/* 导航 */
.navbar {
	height:51px;
	width:100%;
	text-align: center;
	background:url(pic/banner/banner_0005s_0017_banner-%E7%BA%BF%E6%9D%A1.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:bottom;
	overflow:hidden;
}
.navbar ul{
	display: inline-block;
	overflow:hidden;
}
.navbar li{
	float: left;
	list-style: none;
}

/* 导航栏样式 */
.navbar a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 30px;
    text-decoration: none;
	z-index:10;
}
 
/* 鼠标移动到链接的颜色 */
.navbar a:hover {
    background:url(pic/banner/banner_0005s_0016_banner-%E5%B0%8F%E7%9F%A9%E5%BD%A2.png);
	background-position:bottom;
	background-repeat:no-repeat;
}
 
/* 列容器 */
.row {  
	position:absolute;
	top:520px;
	height:auto;
	width:100%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	padding-bottom: -340px;
}
 
 /*新闻版块*/
.news_head{
	position:absolute;
	margin-top: -50px;
	width:100%;
    z-index: 1;
    left: 0;
    right: 0;
	color:#5166d3;
	padding: 0;
	}

.news_head_body{
	padding-left: 15%;
    padding-right: 7%;
	width:100%;
	}
.news_body{
	position:absolute;
	margin-top: -50px;
	width:100%;
	z-index: 0;
	left: 0;
    right: 0;
	padding: 0;
	}
.news_block{
	position:absolute;
	top:164px;
	padding-left:15%;
	padding-right:33%;
	width:100%;
}
.news_block_bady{
	background:url(pic/%E6%96%B0%E9%97%BB/%E6%96%B0%E9%97%BB_0004s_0021_%E6%96%B0%E9%97%BB-%E7%9F%A9%E5%BD%A21.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:450px;
	width:100%;
	color:#FFF;
	z-index:3;
	}
.news_block_link{
	clear:both;
	line-height:normal;
	
	padding-top:50px;
	float: left;
	font-weight:bold;
	font-size:52px;
	z-index:3;
	width:100%;
	}
.news_block_link div{
	padding:0;
	margin:0;
	height:110px;
	width:80%;
	clear:both;
	}
/*放大效果*/
.link1{
	 transition: All 0.4s ease-in-out;
            -webkit-transition: All 0.4s ease-in-out;
            -moz-transition: All 0.4s ease-in-out;
            -o-transition: All 0.4s ease-in-out;
		color:#FFF;
}
.link1:hover{
	 transform: scale(1.2);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
	color:#5166d3;
}
/*新闻模块主要内容*/
.news_main{
	font-size:16px;
	font:"Microsoft YaHei UI";
	line-height:24px;
	}
.news_main2{
	position:absolute;
	top:170px;
	padding-left:50%;
	pointer-events:none;
	}
.news_main2_bady1{
	padding-top:5%;
	padding-left:10%;
	padding-right:10%;
	pointer-events:auto;
	}
.news_main2_bady1_bady{
	transition: All 0.4s ease-in-out;
       -webkit-transition: All 0.4s ease-in-out;
       -moz-transition: All 0.4s ease-in-out;
       -o-transition: All 0.4s ease-in-out;
	}
.news_main2_bady1_bady:hover{
	transform: scale(1.1);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
	color:#5166d3;
	}

.news_main2_bady2{
	height:340px;
	width:417px;
	background:url(pic/%E6%96%B0%E9%97%BB/%E6%96%B0%E9%97%BB_0004s_0020_%E6%96%B0%E9%97%BB-%E7%9F%A9%E5%BD%A22.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
/*新闻模块内图片*/
.img1{
	padding-top:200px;
	padding-left:71%;
	z-index:3;
	pointer-events:none;
	}
.img1_bady{
	width:240px;
	height:264px;
	z-index:3;
	}
/*更多按钮*/
.more{
	position:absolute;
	top:500px;
	left:45%;
	font-size:13px;
	font:"Microsoft YaHei UI";
	color:#5166d3;
	font-weight:bold;
	}
/*热点专题*/
.hotpoint{
	position:absolute;
	top: 660px;
	width:100%;
	height:600px;
	background:url(pic/%E4%B8%93%E9%A2%98/%E4%B8%93%E9%A2%98_0003s_0009_%E4%B8%93%E9%A2%98-%E5%9B%BE%E7%89%871.png);
	background-size:100% 130px;
	background-position:top;
	background-repeat:no-repeat;
	}
.hot_back2{
	position:absolute;
	padding-top:75px;
	padding-left:15%;
	padding-right:15%;
	width:100%;
	z-index:1;
	}
.hot_back2_bady{
	height:300px;
	width:100%;
	background:url(pic/%E4%B8%93%E9%A2%98/%E4%B8%93%E9%A2%98_0003s_0008_%E4%B8%93%E9%A2%98-%E7%9F%A9%E5%BD%A2.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	}
.hots{
		height:380px;
		width:100%;
}
/*热点图片*/
.img2{
	position:absolute;
	padding-top:50px;
	padding-left:20%;
	z-index:4;
	}
.img2_bady{
	height:275px;
	width:378px;
	z-index:4;
	transition: All 0.4s ease-in-out;
       -webkit-transition: All 0.4s ease-in-out;
       -moz-transition: All 0.4s ease-in-out;
       -o-transition: All 0.4s ease-in-out;
	}
.img2_bady:hover{
	height:275px;
	width:378px;
	z-index:4;
	transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
	}
/*热点信息*/
.hot_main{
	position:absolute;
	padding-top:90px;
	padding-left:46%;
	z-index:4;
	color:#FFF;
	pointer-events:none;
	}
.hot_main_bady{
	height:300px;
	width:70%;
	font-size:10px;
	pointer-events:auto;
	}
.hot_main_bady h1{
	font-size:40px;
	text-align:center;
	font-weight:lighter;
	margin-top: 1px;
	}
.hot_main_bady h2{
	font-size:16px;
	text-align:center;
	margin-top: 1px;
	}
.hot_main_bady h3{
	letter-spacing:3px; 
	font-size:13px;
	text-align:center;
	margin-top: 1px;
	}
.hot_main_bady p{
	font-size:14px;
	text-align:center;
	}
/*政策方针*/
.way{
	position:absolute;
	top:1141px;
	height:816px;
	width:100%;
	background:url(pic/%E6%94%BF%E7%AD%96/%E6%94%BF%E7%AD%96_0002s_0016_%E6%94%BF%E7%AD%96-%E7%9F%A9%E5%BD%A21.png);
	}
.ways{
	height: 600px;
}
.SiemaPart2{
	padding-left: 50px;
	height: 100%;
	width: 100%;
}
.way_title{
	position:absolute;
	padding-top:33px;
	padding-left:15%;
	color:#5166d3;
	line-height:none;
	}
.way_title h2{font-size:11PX;}
.way_title h1{font-size:40px; font-weight:lighter;}
.way_block1{
	position:absolute;
	padding-top:145px;
	padding-left:15%;
	width:93%;
	}
.way_block1_bady{
	height:375px;
	width:58%;
	background:url(pic/%E6%94%BF%E7%AD%96/%E6%94%BF%E7%AD%96_0002s_0015_%E6%94%BF%E7%AD%96-%E5%9B%BE%E7%89%871.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	}
.way_block1_p{
	position:absolute;
	top:445px;
	padding-top:10px;
	padding-left:3%;

	height:150px;
	width:43%;
	color:#000;
	background:url(pic/%E6%94%BF%E7%AD%96/%E6%94%BF%E7%AD%96_0002s_0012_%E6%94%BF%E7%AD%96-%E7%9F%A9%E5%BD%A23.png);	
	}
.way_block1_p_p{
	position:absolute;
	padding-top:30px;
	padding-right:5%;
	}
.way_block1_p_p h1{font-size:18PX;font-stretch:condensed;}
.way_block1_p_p p{font-size:15PX; color:#706f70;}
.way_block2{
	position:absolute;
	padding-top:185px;
	padding-left:58%;
	width:100%;
	}
.way_block2_bady{
	width:53%;
	height:280px;
	background:url(pic/%E6%94%BF%E7%AD%96/%E6%94%BF%E7%AD%96_0002s_0014_%E6%94%BF%E7%AD%96-%E5%9B%BE%E7%89%872.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	}
.way_block2_p{
	position:absolute;
	top:380px;
	padding-top:42px;
	padding-left:2%;
	background:url(pic/%E6%94%BF%E7%AD%96/%E6%94%BF%E7%AD%96_0002s_0013_%E6%94%BF%E7%AD%96-%E7%9F%A9%E5%BD%A22.png);
	width:20%;
	height:125px;
	}
.way_block2_p h1{font-size:16px;}
.blue_block{
	position:absolute;
	height:36px;
	width:59px;
	color:#FFF;
	padding-top:8px;
	text-align:center;
	background:url(pic/%E6%94%BF%E7%AD%96/%E6%94%BF%E7%AD%96_0002s_0010_%E6%94%BF%E7%AD%96-%E7%9F%A9%E5%BD%A25.png);
	font-size:16px;
	z-index:3;
	}
/* 发展历程*/
.history{
	position:absolute;
	top:1957px;
	height:816px;
	width:100%;
	padding-left:15%;
	padding-right:15%;
	background:url("pic/history/0017.png") no-repeat center 90%;
	background-size:70% 470px;
	}
/* 发展历程标题 */
.history_title{
	height:120px;
	width:100%;
	padding-right:15%;
	padding-top:30px;
	color:#5166d3;
	}
.history_title_e{
	height:30px;
	font-size:13px;
	text-align:right;
	padding-right:4%;
	}
.history_title_c{
	font-size:40px;
	text-align:right;
	font-weight:lighter;
	}
/* 发展历程上部分 */
.history-body-item{
	width: 100%;
	height: 300px;
	background-image: url("pic/history/0010.png");
	background-repeat:  no-repeat;
	background-size:60%;
	display: none;
	justify-content: center;
}
.item-box {
	width: 220px;
	min-height:180px;
	height: 50%;
	background: #FFF;
	padding:2%;
	text-align: center;
	margin-top:5%;
	margin-left: 20%;
}
.item-box h5{
	font-size:25px;
	border-bottom: 1px dashed #000;
	padding:20px 0;
	margin:0 14%;
}
.item-box p{
	padding: 10px 0;
}
/* 发展历程下部分 */
.history-loop{
	height: 250px;
	overflow: hidden;
	position: relative;
	margin:5% 0;
}
.history-loop i{
	position: absolute;
	display: block;
	height: 100%;
	width: 10%;
	cursor: pointer;
	opacity: .6;
	transition-duration: 0.6s;
}
.history-loop i:hover{
	opacity: 1;
}
.history-loop .left-btn{
	background: url("pic/history/l0015.png") no-repeat center;
	left:0;
}
.history-loop .right-btn{
	background: url("pic/history/r0016.png") no-repeat center;
	right: 0;
}
.history-loop .loop-imgs {
	position: absolute;
	left:10%;
	right:10%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}
.history-loop .loop-imgs .loop-img-item{
	position: absolute;
	width: 25%;
	overflow: hidden;
	left:0;
	top:0;
}
.history-loop .loop-imgs .loop-img-item:hover{
	opacity: .6;
}
.loop-img-item p{
	color:#FFF;
	text-align: center;
}

/* 底部 */
.footer {
	position: absolute;
	top:2773px;
	bottom:0px; 
	width:100%;
	height:173px;
	color:#FFF;
	clear:both;
    padding: 0;
    text-align: center;
    background: url(pic/button/footer.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	z-index:-1;
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示*/
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示*/ 
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
} 
