/* navigation */
.banner-container {
	margin-left: 4%;
	margin-right: 4%;
	height: auto;
}

.btn-search {
	padding: 0px;
	border: 0px;
	/* float: right; */
}


.translate{
	padding-left: 70%;
}

.translate span{
	padding-left: 6px;
}

.translate p,
.translate a {
	color: white;
	font-size: 16px;
	padding-top: 12px;
}

.navbar-top {
	/* padding-left: 65%; */
	padding-top: 6px;
}

.navbar {
	background-color: rgba(69, 129, 244, 0.7);
}

.form-input {
	padding: 1px;
}


.nav-list {
	font-size: 22px;
	height: 30px;
	width: 90%;
	margin-left: 162px;
	/* padding-top: 30px; */
}

.nav-list li {
	padding-left: 0;
	font-weight: bold;
	padding-top: 15px;
	margin-left: 1%;
}

.nav-list ul {
	float: none;
	width: 120%;
	color: #FFFFFF;
	padding-top: 30px;

}

.navbar-height {
	/* margin-left: 15%;
	margin-right: 15%; */
	height: 70px;
	color: #fff;
}

.navbar-header {
	margin-right: 20px;
	padding-bottom: 50px;
}

.navbar-inverse {
	border: 0px;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	height: auto;
	padding: 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #DADEE0;
}

.navbar-inverse .navbar-text {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
	color: #DADEE0;
}

.navbar-inverse .navbar-nav>li>.dropdown-menu {
	background-color: #c0392b;
}

.navbar-inverse .navbar-nav>li>.dropdown-menu>li>a {
	color: #fff;
}

/* navigation */