*{
    box-sizing: border-box;
}
.row{
    width: 100%;
    height: 550px;
    padding-left: 20%;
    padding-right: 20%;
    margin-left:auto;
    margin-right:auto;
}

.AIcar{
    position: absolute;
    width: 60%;
    height: 500px;
    margin-top: 30px;
}
/*AI左*/
.AIcar_left{
    position: absolute;
    width: 50%;
    height: 510px;
}
.AIcar_left_img{
    position: absolute;
    top: 0px;
    left: 40px;
    z-index: 0;

    transform:scale(0.8)
}
.AIcar_left_bg{
    position: absolute;
    top:30px;
    left: 0px;
    z-index: -1;

    transform:scale(0.78)
}
/*AI右*/
.AIcar_right{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 530px;
}
.AIcar_right h2{
    padding-top: 6%;
    padding-left: 35%;

    font-size: 17px;
    font-weight:400;
}
.AIcar_right h1{
    padding-left: 35%;
    margin-bottom: 50px;

    font-size: 46px;
    font-weight:800;  
}
.AIcar_right p{
    padding-left: 15%;
    font-size: 18px;
}
.more{
    margin-left: 15%;
    height:54px;
    width: 157px;
}
/*电网2.0*/
.Net2{
    background: url("../img/组2/互联网+_0002s_0004_图片2.png");
    background-size: cover;
    width: 100%;
    height: 345px;
}
.Net2 h1{
    padding-left: 20%;
    padding-top: 150px;

    color: white;
    font-size: 60px;
    font-weight:800;  
    letter-spacing:10px;
}
/*row 2*/
.row2{
    width: 100%;
    height: 950px;
    padding-left: 20%;
    padding-right: 20%;
    margin-left:auto;
    margin-right:auto;
}
/*AINet*/
.AInet{
    margin-top: 75px;
    width: 100%;
}
.AInet h2{
    padding-left: 42%;
    font-size: 17px;
    font-weight:400;
}
.AInet h1{
    padding-left: 42%;
    padding-bottom: 55px;
    font-size: 46px;
    font-weight:800;  
}
.AInet p{
    padding-left: 10%;
    padding-right: 10%;
}
/*box*/
.AInet_block{
    padding-top: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.AInet_block_box{
    position:relative;
    width: 30%; 
}
.AInet_block p{
    position: absolute;
    padding-top: 360px;
    padding-left: 40px;
    padding-right: 40px;
    text-align:center;

    font-size: 25px;
    color: white;
}
.AInet_block img{
    position: absolute;
    text-align:center;
    z-index: -1;
}