@charset "utf-8";

*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/**基本格式开始***************/

.teacherPic{ width:100%;height:850px;background:url(../images/sirendingzhi1.jpg) no-repeat;margin:-95px auto 0 auto;}
.teacherPic .content{width:200px;height:325px;float:left;position:relative;overflow:hidden;margin-left:150px;}
.teacherPic .content .txt{width:176px;height:100px;background:rgba(18,21,44,0.5);left:0px;bottom:0px;padding:0 12px;border-top:2px solid #FFE000;font-family:"微软雅黑";font-size: 12px;}
.teacherPic .content .txt h3{color:#FFC200;font-size:24px;font-weight:100;margin:10px 0 6px 0;}
.teacherPic h4{color:#fff;font-size:12px;font-weight:100;height: 40px;}
.teacherPic .content .txt p{color:#fff;margin-top:15px;padding-top:5px;border-top:1px solid #FFC200;font-family:"微软雅黑";display:none;}
#sirendingzhi1{padding-left: 20px;}