.Effect-load {
	/* max-width: 69em; */
	list-style: none;
	/* margin: 30px auto; */
	/* padding: 0; */
}

.Effect-load li {
	display: block;
	/* float: left; */
	/* padding: 7px; */
	width: 100%;
	opacity: 0;
}

.Effect-load li.shown,
.no-js .Effect-load li,
.no-cssanimations .Effect-load li {
	opacity: 1;
}

.Effect-load li a,
.Effect-load li img {
	outline: none;
	border: none;
	display: block;
	/* max-width: 100%; */
}

/* Effect 2: Move Up */
.Effect-load.effect-left li.animate {
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	transform: translateX(-300px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

.Effect-load.effect-right li.animate {
	-webkit-transform: translateX(300px);
	-moz-transform: translateX(300px);
	transform: translateX(300px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateX(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateX(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateX(0); opacity: 1; }
}
