img {
	width: 100%;
	height: auto;
}

/* footer */
.footer {
	/* background: url(../img/FOOTER/footer.png) ; */
	/* background-size:100% 100%; */
	/* background-repeat:no-repeat; */
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
}

.foot {
	display: flex;
	align-items: flex-start;
}

.logo {
	width: 20%;
}

.separate {
	margin-left: 70px;
	width: 5%;
}

.contact {
	width: 40%;
}

.contact p {
	font-size: 22px;
	color: white;
}

.en {
	display: flex;
}

.en p {
	font-size: 16px;
}

.QR {
	width: 15%;
	padding-top: 10px;
}

#QR {
	width: 15%;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 40px;
}
/* footer */


/* future */
.future1 {
	/* background: rgb(232,241,245); */
	margin-left: 18%;
	margin-right: 18%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10em;
	margin-top: 5em;
	background: url(../img/组2/1.png) no-repeat;
	background-size: 100%;
	padding-bottom: 8em;
}

.future2 {
	/* background: rgb(232,241,245); */
	margin-left: 18%;
	margin-right: 18%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10em;
	margin-top: 5em;
	background: url(../img/组2/2.png) no-repeat;
	background-size: 100%;
	padding-bottom: 8em;
}

.text1 {
	width: 45%;
}

.text1 h1 {
	font-size: 3em;
	padding: 1em;
	text-align: center;
	padding-left: 2em;
}

.text1 h5 {
	letter-spacing: 10px;
	font-size: 1.5em;
	padding: 5%;
	padding-left: 8%;
	margin-bottom: 5%;
}

.text1 p {
	font-size: 1.3em;
	text-align: justify;
	padding-left: 3em;
}

.text2 {
	width: 40%;
}

.text2 h1 {
	font-size: 3em;
	padding: 1em;
	text-align: center;
	padding-right: 2em;
}

.text2 h5 {
	letter-spacing: 10px;
	font-size: 1.5em;
	padding: 5%;
	padding-right: 8%;
	margin-bottom: 5%;
}

.text2 p {
	font-size: 1.3em;
	text-align: justify;
	padding-right: 2em;
}

#photo {
	width: 100%;
}








